/* Custom Fonts */

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans.woff') format('woff'),
         url('fonts/PT-Sans.ttf') format('truetype'),
         url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Bold.eot');
    src: url('fonts/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Bold.woff') format('woff'),
         url('fonts/PT-Sans-Bold.ttf') format('truetype'),
         url('fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Italic.eot');
    src: url('fonts/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-Italic.woff') format('woff'),
         url('fonts/PT-Sans-Italic.ttf') format('truetype'),
         url('fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-BoldItalic.eot');
    src: url('fonts/PPT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-BoldItalic.woff') format('woff'),
         url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
         url('fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* End Custom Fonts */

html {
  background-color: #869990;
}

body {
  font-family: 'PT Sans', Tahoma, sans-serif;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240, 236, 229) ;
}

aside {
  background-color: lightcyan;
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 85%;
}

header, footer, .content-area {
  border: 3px solid lightcyan;
}

.content-area p{
  text-align: justify;
  margin: 10px;
}

.left {
  float: left;
  width: 25%;
}

.main-content {
  float: left;
  width: 50%;
}

/* Starting Image Banner Styling */
img {
  max-width: 100%;
  height: auto;
}

.squirrel-banner {
  position: relative;
  left: 100px;
}

.squirrel-banner img {
  display: block;
}

.squirrel-banner p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  margin: 0;
}
/* Ending Image Banner Styling */

/* Starting Table Styling */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

table th {
  background-color: brown;
  color: #FFF;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}

table th,
table td {
  border: 1px solid black;
  vertical-align: top;
  padding: 10px 10px;
}

table tbody tr:nth-child(even) td {
  background-color: rgb(201, 145, 156);
  color: #FFF;
}

table th:nth-child(1) {
  width: 60%;
  text-align: left;
}

table th:nth-child(2),
table th:nth-child(3)
{
  width: 20%;
}

table td:nth-child(1) {
  text-align: left;
}
/* Ending Table Styling */

/* Form Styles */
form {
  background-color: rgb(185, 185, 223);
  padding: 30px 70px;
  text-align: left;
}

.hidden-label {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}

input[type="email"],
input[type="password"],
input[type="submit"],
select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  font-family: Tahoma, sans-serif;
  font-size: 100%;
  margin-bottom: 15px;
  outline: none;
}

.input:focus {
  border: 1px solid red;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0  0.13);
}

input[type="submit"] {
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
  background-color: cornflowerblue;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: blue;
  color: white;
  cursor: pointer; 
}

.remember-checkbox{
  text-align: center;
  margin: auto;
}

/* End Form Styles */

.right {
  float: left;
  width: 25%;
  position: relative;
}

/* Starting NAV styling */
.navbar {
  margin-top: 20px;
  text-align: center;
}
.navbar ul {
  margin: 0;
  padding: 0;
  margin-left: 40%;
}
.navbar li {
  list-style: none;
  float: left;
  
}
.navbar a {
  display: block;
  padding: 10px 20px;
  margin-left: 10px;
  border: 3px solid rgb(107, 107, 64);
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(107, 107, 64);
  color: white;
}
/*  Ending NAV styling */

/* Strides Syling */
.ui-menu ul {
  margin: 0;
  padding: 0;
}

.ui-menu li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ui-menu a {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../images/sprites.png);
  text-indent: -9999px;
  background-repeat: no-repeat;
}

.ui-home a:hover,
.ui-home a:focus {
  background-position: -50px 0px;
}

.ui-profile a {
  background-position: 0 -50px;
}

.ui-profile a:hover,
.ui-profile a:focus {
  background-position: -50px -50px;
}

.ui-settings a {
  background-position: 0 -100px;
}

.ui-settings a:hover ,
.ui-settings a:focus {
  background-position: -50px -100px;
}


/* Ending strides styling */

.group::before, .group::after {
  content: "";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  zoom: 1;
}