html {
  background-color: #869990;
}

body {
  font-family: Tahoma, sans-serif;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240, 236, 229) ;
}

aside {
  background-color: lightcyan;
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 85%;
}

header, footer, .content-area {
  border: 3px solid lightcyan;
}

.content-area p{
  text-align: justify;
  margin: 10px;
}

.left {
  float: left;
  width: 25%;
}

.right {
  float: left;
  width: 25%;
}

.main-content {
  float: left;
  width: 50%;
}

/* Starting NAV styling */
.navigation {
  text-align: center;
}
nav {
  margin-top: 20px;
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
  margin-left: 40%;
}
.navbar li {
  list-style: none;
  float: left;
  
}
.navbar a {
  display: block;
  padding: 10px 20px;
  margin-left: 10px;
  border: 3px solid rgb(107, 107, 64);
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(107, 107, 64);
  color: white;
}
/*  Ending NAV styling */

.group::before, .group::after {
  content: "";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  zoom: 1;
}