html {
  background-color: #869990;
}

body {
  font-family: Tahoma, sans-serif;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240, 236, 229) ;
}

aside {
  background-color: lightcyan;
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 85%;
}

header, footer, .content-area {
  border: 3px solid lightcyan;
}

.content-area p{
  text-align: justify;
  margin: 10px;
}

.left {
  float: left;
  width: 25%;
}

.main-content {
  float: left;
  width: 50%;
}

/* Starting Image Banner Styling */
img {
  max-width: 100%;
  height: auto;
}

.squirrel-banner {
  position: relative;
  left: 100px;
}

.squirrel-banner img {
  display: block;
}

.squirrel-banner p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  margin: 0;
}
/* Ending Image Banner Styling */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

table th {
  background-color: brown;
  color: #FFF;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}

table th,
table td {
  border: 1px solid black;
  vertical-align: top;
  padding: 10px 10px;
}

table tbody tr:nth-child(even) td {
  background-color: rgb(201, 145, 156);
  color: #FFF;
}

table th:nth-child(1) {
  width: 60%;
  text-align: left;
}

table th:nth-child(2),
table th:nth-child(3)
{
  width: 20%;
}

table td:nth-child(1) {
  text-align: left;
}
/* Startging Table Styling */


/* Ending Table Styling */

.right {
  float: left;
  width: 25%;
  position: relative;
}

/* Starting NAV styling */
.navigation {
  text-align: center;
}
nav {
  margin-top: 20px;
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
  margin-left: 40%;
}
.navbar li {
  list-style: none;
  float: left;
  
}
.navbar a {
  display: block;
  padding: 10px 20px;
  margin-left: 10px;
  border: 3px solid rgb(107, 107, 64);
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(107, 107, 64);
  color: white;
}
/*  Ending NAV styling */

.group::before, .group::after {
  content: "";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  zoom: 1;
}